.graph-wrapper {
  border: solid lightgrey 1px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 15px;
  display: inline-block;
}

.bl-graph {

  .bl-axis {

    path, line {
      shape-rendering: crispEdges;
      stroke: none;
    }

    path.domain {
      fill: none;
    }

    text {
      font-size: 12px;
    }

    &.x {
    }

    &.y {
      .tick {
        line {
          stroke: grey;
        }
      }
    }
  }

  .bl-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .bl-line {
    path {
      fill: none;
      stroke: steelblue;
      stroke-width: 2px;
    }

    circle {
      fill: white;
      stroke: steelblue;
      stroke-width: 2px;
    }
  }

  .bl-legend {
    fill: transparent;
    stroke: grey;

    text {
      stroke: none;
      fill: black;
    }
  }

  // This class is generic and applies to all chart types
  .chart {
    display: block;
  }
}

.viz-tooltip {
  background: white;
  border: solid grey 1px;
  box-shadow: 1px 1px 2px grey;
  padding: 5px;
  border-radius: 3px;
  z-index: 999;

  .tip-text {
    display: block;
  }
}
