.graph-wrapper {
  border: solid lightgrey 1px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 15px;
}


.bl-graph {

  .bl-axis {

    path, line {
      shape-rendering: crispEdges;
      stroke: grey;
    }

    path.domain {
      fill: none;
    }

    text {
      font-size: 12px;
    }

    &[direction="x"] {
    }

    &[direction="y"] {
    }
  }

  .bl-line {
    path {
      fill: none;
      stroke: black;
    }
  }

  .bl-legend {
    fill: transparent;
    stroke: grey;

    text {
      stroke: none;
      fill: black;
    }
  }

  // This class is generic and applies to all chart types
  .chart {
    display: block;
  }
}